* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

/*^setting basic stuff*/

#container {
  /*setting up the grid*/
  display: grid;
  place-items: center;
  box-shadow: 3px 3px 15px 10px #2222221f;
  margin: 60px auto;
  border-radius: 13px;
  width: 45%;
  background: none;
}

h1 {
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  font-size: 1.6em;
  padding-bottom: 15px;
}

h2 {
  font-weight: 700;
  padding-bottom: 15px;
}

.gridchild {
  width: 100%;
  height: 100%;
  padding: 35px 70px;
}

.item1 {
  grid-area: 1 / 1 / 2 / 3; /*short-hands for setting where the boxes in the grid go row/col.-starts then ends*/
  background-color: #ffffff;
  color: hsl(218, 22%, 67%);
  border-radius: 5px 5px 0 0; /*top box, top corners*/
  width: 100%;
}

#g30d {
  /*unique text wants unique colours and sizing*/
  color: hsl(71, 73%, 54%);
  font-size: 1.2em;
  padding-bottom: 15px;
}

.item2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(179, 63%, 40%);
  color: hsl(204, 43%, 93%);
  width: 100%;
  border-bottom-left-radius: 5px; /*bottom-left box, bottom-left corner*/
}

#cost-month {
  /*to cernter the per month behind the price*/
  display: inline-flex;
  align-items: center;
}

#dolores {
  /*because these two want to be extra unique with different sizes and stuff*/
  font-weight: 700;
  font-size: 36px;
  padding-right: 10px;
}

#per-month {
  color: hsl(218, 31%, 75%);
}

.item3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  width: 100%;
  border-bottom-right-radius: 5px;
  line-height: 1.5;
}

button {
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 40px;
  width: 100%;
  font: inherit;
  font-weight: 700;
  font-size: 1.1em;
  box-shadow: 1px 3px 15px 1px #2222224d;
}

li {
  list-style-type: none;
}

@media (max-width: 720px) {
  /*task asked for mobile version at 375px, but i found that anything between that and 720px to be janky if i just set it to 375px*/
  #container {
    width: 70%;
    justify-content: center;
    padding: 0;
  }

  .item1 {
    grid-area: 1 / 1 / 2 / 1; /*basically making the grid into a column*/
    width: 100%;
  }

  .item2 {
    grid-area: 2 / 1 / 3 / 1;
    width: 100%;
    border-radius: 0;
  }

  .item3 {
    grid-area: 3 / 1 / 4 / 1;
    width: 100%;
    border-radius: 0 0 5px 5px; /*and setting the new corners due to the change to a column*/
  }

  .gridchild {
    padding: 20px;
  }
}

@media (min-width: 721px) {
  /*task asked for a hover-effect on the desktop version*/
  button:hover {
    transform: rotate(0.2deg);
    box-shadow: 1px 3px 15px 1px #2222228c;
    background-color: hsl(71, 62%, 49%);
  }
}

#AD {
  text-align: center;
  font-size: 0.4em;
}
